.logo
	display: block
	color: #fff
	height: 240px
	margin-bottom: 100px
	+md_max
		height: 150px
	& svg
		display: block
		height: 100%
		width: auto
		margin: 0 auto

.logo-animate
	fill-opacity: 0
	stroke: $accent-color
	fill: $accent-color
	animation-timing-function: ease-in-out
	animation-fill-mode: forwards
	animation-iteration: 1
	animation-name: DrawLine, FadeStroke, FillIn
	animation-duration: 2s, 1s, 1s
	animation-delay: 0s, 2s, 2s
	&.target
		stroke: none
		animation-delay: 2.5s
	&.txt
		stroke: #fff
		fill: #fff

#logopath1
	stroke-dashArray: 1939
	stroke-dashoffset: 1939
#logopath2
	stroke-dashArray: 1771
	stroke-dashoffset: 1771
#logopath3
	stroke-dashArray: 1031
	stroke-dashoffset: 1031
#logopath4
	stroke-dashArray: 1145
	stroke-dashoffset: 1145
#logopath5
	stroke-dashArray: 897
	stroke-dashoffset: 897
#logopath6
	stroke-dashArray: 162
	stroke-dashoffset: 162

@keyframes DrawLine
	to
		stroke-dashOffset: 0
@keyframes FadeStroke
	to
		stroke-opacity: 0
@keyframes FillIn
	from
		fill-opacity: 0
	to
		fill-opacity: 1

.promo
	height: 100vh
	min-height: 400px
	padding: 0
	margin: 0
	position: relative
	overflow: hidden
	z-index: 1
	background: #1c2733
	& .container
		height: inherit
		z-index: 3
	&__inner
		height: inherit
		width: 100%
		display: table
		position: relative
	&__info
		height: inherit
		display: table-cell
		vertical-align: middle
		text-align: center
		padding: 80px 0
		+md_max
			padding: 40px 0 
	&__title
		display: block
		text-align: center
		margin: 0 0 20px
		color: #fff
		font-weight: 300
		font-size: 40px
		+lg_max
			font-size: 36px
			line-height: 1.3
		+md_max
			font-size: 28px
		& span
			display: inline-block
			border-bottom: 2px solid $accent-color
	&__typed-wrap
		text-align: left
		max-width: 400px
		margin: 0 auto 50px
		min-height: 78px
		+lg_max
			text-align: center
		& span
			display: inline
			font-size: 26px
			font-weight: 300
			color: #fff
			+md_max
				font-size: 20px
		& span#typed
			margin-left: 10px
			border-bottom: 2px solid $accent-color 		



.works
	padding: 80px 0 50px
	text-align: center
	+sm_max
		padding: 50px 0 40px
	&__inner
		padding: 50px 50px 20px
		background: #fff
		-webkit-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.05)
		-moz-box-shadow:    0px 3px 18px 0px rgba(0, 0, 0, 0.05)
		box-shadow:         0px 3px 18px 0px rgba(0, 0, 0, 0.05)
		+xs_max
			padding: 30px 30px 20px
	&__link
		display: inline-block
		margin: 20px 0
		font-size: 16px
		color: $dark
		border-bottom: 2px solid $accent-color
		transition: all 0.2s
		&:hover
			border-color: transparent
			color: $accent-color
.work
	max-width: 316px
	margin: 0 auto 30px
	text-align: left
	background: #1c2733
	position: relative
	padding-bottom: 40px
	border-radius: 2px
	height: -webkit-calc(100% - 30px)
	height:    -moz-calc(100% - 30px)
	height:         calc(100% - 30px)
	-webkit-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.05)
	-moz-box-shadow:    0px 3px 18px 0px rgba(0, 0, 0, 0.05)
	box-shadow:         0px 3px 18px 0px rgba(0, 0, 0, 0.05)
	&__img
		display: block
		& img
			display: block
			width: 100%
			height: auto
	&__txt
		display: block
		padding: 20px
		font-weight: 400
	&__title
		display: block
		text-align: left
		font-size: 20px
		font-weight: 600
		color: #fff
		margin: 0 0 10px
		padding: 0
		transition: all 0.2s
	&__descr
		color: #7d8e98		
	&__tags
		position: absolute
		left: 20px
		bottom: 20px
		& span
			display: inline-block
			font-size: 12px
			font-weight: 600
			padding: 2px 5px
			margin-bottom: 3px
			border-radius: 3px
			color: #fff
			background: #7d8e98		

.using
	padding: 80px 0
	&__item
		text-align: center
		margin-bottom: 45px
		+lg_min
			-webkit-flex: 0 0 20%
			-ms-flex: 0 0 20%
			flex: 0 0 20%
			max-width: 20%
		&-img
			display: block
			max-width: 120px	
			height: 80px
			margin: 0 auto 10px
			& svg
				display: block
				height: 100%
				width: auto
				max-width: 120px
				margin: 0 auto
		&-txt
			font-size: 18px	

.team
	padding: 50px 0
	background: #1c2733
	&__slider
		padding: 0 60px
		+xs_max
			padding: 0
	&__slide
		outline: none
	& .slick-prev
		width: 30px
		height: 40px
		border: none
		background: transparent
		outline: none
		font-size: 0
		+position(50%,auto,auto,20px)
		margin-top: -15px
		z-index: 10
		cursor: pointer
		background-size: cover
		+xs_max
			left: 10px
		&::before
			content: ""
			+position(0,0,auto,auto)
			width: 30px
			height: 40px
			background: url(../img/keyboard-right-arrow-button.svg) 0 0 no-repeat
			background-size: cover
			-webkit-transform: rotate(180deg)
			-moz-transform: rotate(180deg)
			-ms-transform: rotate(180deg)
			-o-transform: rotate(180deg)
			transform: rotate(180deg)
	& .slick-next
		@extend .slick-prev
		+position(50%,20px,auto,auto)
		+xs_max
			right: 10px
		&::before
			right: auto
			left: 0
			-webkit-transform: rotate(0deg)
			-moz-transform: rotate(0deg)
			-ms-transform: rotate(0deg)
			-o-transform: rotate(0deg)
			transform: rotate(0deg)	
	&__member
		max-width: 220px
		min-height: 281px
		margin: 0 auto
		box-shadow: 0 1px 1px rgba(0,0,0,0.1)
		position: relative
		background: #151d26
		border-radius: 2px
		overflow: hidden
		outline: none
		&-img-wrap
			width: 100%
			position: relative
		&-img
			max-width: 130px
			border-radius: 50%
			overflow: hidden
			margin: 30px auto 20px
			& img
				display: block
				width: 100%
				height: auto
		&-name
			text-align: center
			background: #151d26
			color: #7d8e98
			padding: 15px
			margin-bottom: 10px
			& span
				display: block
				line-height: 1.2
				&:first-child
					font-weight: 300
					color: #fff
					font-size: 16px
					margin-bottom: 10px

.contact
	padding: 50px 0 20px
	font-size: 16px
	text-align: center
	&__item
		display: inline-block
		margin-bottom: 10px
		text-decoration: none
		color: #7d8e98
		line-height: 30px
		&:hover
			color: $accent-color
		&.icon
			display: inline-block
			margin: 0 8px
	& i
		font-size: 32px


