body
	font-family: 'Open Sans', sans-serif
	font-size: 14px
	line-height: 1.5
	background: #151d26
	color: #fff

a
	text-decoration: none

.container
	min-width: 320px

.section-title
	font-size: 40px
	font-weight: 300
	color: $accent-color
	padding: 0
	margin: 0 0 80px
	text-align: center
	line-height: 1
	& span
		display: inline-block
		position: relative
		&::before
			content: ""
			+position(auto,auto,-15px,0)
			width: 50px
			height: 3px
			background: #7d8e98
			+sm_max
				left: 50%
				margin-left: -25px	
	+sm_max
		font-size: 36px
		margin-bottom: 60px
	+xs_max
		font-size: 30px
	

.btn
	display: inline-block
	font-size: 16px			
	line-height: 44px
	padding: 0 30px
	letter-spacing: 1px
	border-radius: 4px
	transition: all 0.2s linear
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
	color: #fff
	font-weight: 600
	background: $accent-color
	&:hover
		color: #fff
		background: darken($accent-color, 4%)
	+sm_max
		line-height: 38px
		padding: 0 20px
		font-size: 14px

.text-right
	text-align: right

.readmore
	display: inline-block
	color: $dark
	border-bottom: 2px solid $accent-color
	transition: all 0.2s
	&:hover
		color: $accent-color
		border-color: transparent
	