html, body, div, span, object, iframe, img, strong, b, u, i, table, tbody, tfoot, thead, td, th, tr form, label, legend, header, footer, article, section, aside { margin: 0; padding: 0; border: 0; vertical-align: baseline; background: transparent; }

p { margin: 0 0 20px; }

input:focus, select:focus, textarea:focus { outline: none; }

* { box-sizing: border-box; }

table, td, th, tr { border-collapse: collapse; border-spacing: 0; }

html, body { width: 100%; height: 100%; }

input, select, textarea { font-family: arial, helvetica, sans-serif; font-weight: 400; color: #000; }

button { font-family: arial, helvetica, sans-serif; font-weight: 400; color: #000; cursor: pointer; }

input[type="button"], input[type="submit"] { cursor: pointer; }

.clear { clear: both; font-size: 0; }

.clearfix::after { clear: both; content: ""; display: table; }

body { font-family: "Open Sans", sans-serif; font-size: 14px; line-height: 1.5; background: #151d26; color: #fff; }

a { text-decoration: none; }

.container { min-width: 320px; }

.section-title { font-size: 40px; font-weight: 300; color: #64cefd; padding: 0; margin: 0 0 80px; text-align: center; line-height: 1; }
.section-title span { display: inline-block; position: relative; }
.section-title span::before { content: ""; position: absolute; top: auto; left: 0; right: auto; bottom: -15px; width: 50px; height: 3px; background: #7d8e98; }
@media(max-width: 767px) { .section-title span::before { left: 50%; margin-left: -25px; } }
@media(max-width: 767px) { .section-title { font-size: 36px; margin-bottom: 60px; } }
@media(max-width: 575px) { .section-title { font-size: 30px; } }
.btn { display: inline-block; font-size: 16px; line-height: 44px; padding: 0 30px; letter-spacing: 1px; border-radius: 4px; transition: all 0.2s linear; box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); color: #fff; font-weight: 600; background: #64cefd; }
.btn:hover { color: #fff; background: #50c8fd; }
@media(max-width: 767px) { .btn { line-height: 38px; padding: 0 20px; font-size: 14px; } }
.text-right { text-align: right; }

.readmore { display: inline-block; color: #383838; border-bottom: 2px solid #64cefd; transition: all 0.2s; }
.readmore:hover { color: #64cefd; border-color: transparent; }

.logo { display: block; color: #fff; height: 240px; margin-bottom: 100px; }
@media(max-width: 991px) { .logo { height: 150px; } }
.logo svg { display: block; height: 100%; width: auto; margin: 0 auto; }

.logo-animate { fill-opacity: 0; stroke: #64cefd; fill: #64cefd; animation-timing-function: ease-in-out; animation-fill-mode: forwards; animation-iteration: 1; animation-name: DrawLine, FadeStroke, FillIn; animation-duration: 2s, 1s, 1s; animation-delay: 0s, 2s, 2s; }
.logo-animate.target { stroke: none; animation-delay: 2.5s; }
.logo-animate.txt { stroke: #fff; fill: #fff; }

#logopath1 { stroke-dashArray: 1939; stroke-dashoffset: 1939; }

#logopath2 { stroke-dashArray: 1771; stroke-dashoffset: 1771; }

#logopath3 { stroke-dashArray: 1031; stroke-dashoffset: 1031; }

#logopath4 { stroke-dashArray: 1145; stroke-dashoffset: 1145; }

#logopath5 { stroke-dashArray: 897; stroke-dashoffset: 897; }

#logopath6 { stroke-dashArray: 162; stroke-dashoffset: 162; }

@keyframes DrawLine { to { stroke-dashOffset: 0; } }
@keyframes FadeStroke { to { stroke-opacity: 0; } }
@keyframes FillIn { from { fill-opacity: 0; }
  to { fill-opacity: 1; } }
.promo { height: 100vh; min-height: 400px; padding: 0; margin: 0; position: relative; overflow: hidden; z-index: 1; background: #1c2733; }
.promo .container { height: inherit; z-index: 3; }
.promo__inner { height: inherit; width: 100%; display: table; position: relative; }
.promo__info { height: inherit; display: table-cell; vertical-align: middle; text-align: center; padding: 80px 0; }
@media(max-width: 991px) { .promo__info { padding: 40px 0; } }
.promo__title { display: block; text-align: center; margin: 0 0 20px; color: #fff; font-weight: 300; font-size: 40px; }
@media(max-width: 1199px) { .promo__title { font-size: 36px; line-height: 1.3; } }
@media(max-width: 991px) { .promo__title { font-size: 28px; } }
.promo__title span { display: inline-block; border-bottom: 2px solid #64cefd; }
.promo__typed-wrap { text-align: left; max-width: 400px; margin: 0 auto 50px; min-height: 78px; }
@media(max-width: 1199px) { .promo__typed-wrap { text-align: center; } }
.promo__typed-wrap span { display: inline; font-size: 26px; font-weight: 300; color: #fff; }
@media(max-width: 991px) { .promo__typed-wrap span { font-size: 20px; } }
.promo__typed-wrap span#typed { margin-left: 10px; border-bottom: 2px solid #64cefd; }

.works { padding: 80px 0 50px; text-align: center; }
@media(max-width: 767px) { .works { padding: 50px 0 40px; } }
.works__inner { padding: 50px 50px 20px; background: #fff; -webkit-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.05); box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.05); }
@media(max-width: 575px) { .works__inner { padding: 30px 30px 20px; } }
.works__link { display: inline-block; margin: 20px 0; font-size: 16px; color: #383838; border-bottom: 2px solid #64cefd; transition: all 0.2s; }
.works__link:hover { border-color: transparent; color: #64cefd; }

.work { max-width: 316px; margin: 0 auto 30px; text-align: left; background: #1c2733; position: relative; padding-bottom: 40px; border-radius: 2px; height: -webkit-calc(100% - 30px); height: -moz-calc(100% - 30px); height: calc(100% - 30px); -webkit-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.05); -moz-box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.05); box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.05); }
.work__img { display: block; }
.work__img img { display: block; width: 100%; height: auto; }
.work__txt { display: block; padding: 20px; font-weight: 400; }
.work__title { display: block; text-align: left; font-size: 20px; font-weight: 600; color: #fff; margin: 0 0 10px; padding: 0; transition: all 0.2s; }
.work__descr { color: #7d8e98; }
.work__tags { position: absolute; left: 20px; bottom: 20px; }
.work__tags span { display: inline-block; font-size: 12px; font-weight: 600; padding: 2px 5px; margin-bottom: 3px; border-radius: 3px; color: #fff; background: #7d8e98; }

.using { padding: 80px 0; }
.using__item { text-align: center; margin-bottom: 45px; }
@media(min-width: 1200px) { .using__item { -webkit-flex: 0 0 20%; -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; } }
.using__item-img { display: block; max-width: 120px; height: 80px; margin: 0 auto 10px; }
.using__item-img svg { display: block; height: 100%; width: auto; max-width: 120px; margin: 0 auto; }
.using__item-txt { font-size: 18px; }

.team { padding: 50px 0; background: #1c2733; }
.team__slider { padding: 0 60px; }
@media(max-width: 575px) { .team__slider { padding: 0; } }
.team__slide { outline: none; }
.team .slick-prev, .team .slick-next { width: 30px; height: 40px; border: none; background: transparent; outline: none; font-size: 0; position: absolute; top: 50%; left: 20px; right: auto; bottom: auto; margin-top: -15px; z-index: 10; cursor: pointer; background-size: cover; }
@media(max-width: 575px) { .team .slick-prev, .team .slick-next { left: 10px; } }
.team .slick-prev::before, .team .slick-next::before { content: ""; position: absolute; top: 0; left: auto; right: 0; bottom: auto; width: 30px; height: 40px; background: url(../img/keyboard-right-arrow-button.svg) 0 0 no-repeat; background-size: cover; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.team .slick-next { position: absolute; top: 50%; left: auto; right: 20px; bottom: auto; }
@media(max-width: 575px) { .team .slick-next { right: 10px; } }
.team .slick-next::before { right: auto; left: 0; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
.team__member { max-width: 220px; min-height: 281px; margin: 0 auto; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); position: relative; background: #151d26; border-radius: 2px; overflow: hidden; outline: none; }
.team__member-img-wrap { width: 100%; position: relative; }
.team__member-img { max-width: 130px; border-radius: 50%; overflow: hidden; margin: 30px auto 20px; }
.team__member-img img { display: block; width: 100%; height: auto; }
.team__member-name { text-align: center; background: #151d26; color: #7d8e98; padding: 15px; margin-bottom: 10px; }
.team__member-name span { display: block; line-height: 1.2; }
.team__member-name span:first-child { font-weight: 300; color: #fff; font-size: 16px; margin-bottom: 10px; }

.contact { padding: 50px 0 20px; font-size: 16px; text-align: center; }
.contact__item { display: inline-block; margin-bottom: 10px; text-decoration: none; color: #7d8e98; line-height: 30px; }
.contact__item:hover { color: #64cefd; }
.contact__item.icon { display: inline-block; margin: 0 8px; }
.contact i { font-size: 32px; }
